.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    
    backdrop-filter:blur(16px);
    
    background:rgba(10,10,10,.72);
    
    border-bottom:1px solid rgba(255,255,255,.08);
    }
    
    .navbar-container{
    
    height:80px;
    
    display:flex;
    
    align-items:center;
    
    justify-content:space-between;
    
    }
    
    .logo{
    
    display:flex;
    
    align-items:center;
    
    gap:12px;
    
    font-size:1.25rem;
    
    font-weight:700;
    
    text-decoration:none;
    
    color:white;
    
    }
    
    .logo-dot{
    
    width:12px;
    
    height:12px;
    
    border-radius:50%;
    
    background:#4f8cff;
    
    box-shadow:0 0 20px #4f8cff;
    
    }
    
    .nav-links{
    
    display:flex;
    
    gap:38px;
    
    }
    
    .nav-links a{
    
    text-decoration:none;
    
    color:#d4d4d4;
    
    font-weight:500;
    
    transition:.3s;
    
    }
    
    .nav-links a:hover{
    
    color:white;
    
    }
    
    @media(max-width:900px){
    
    .nav-links{
    
    display:none;
    
    }
    
    }